/* .bottomSheetStyle{
    width: 100vw;
  }
  
  .mat-bottom-sheet-container-large, .mat-bottom-sheet-container-medium, .mat-bottom-sheet-container-xlarge {
    
    max-width: unset !important;
  }
  
  .mat-bottom-sheet-container-large, .mat-bottom-sheet-container-medium, .mat-bottom-sheet-container-xlarge {
    
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  } */
  table {
    width: 80%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }