
/* body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
} */

/* Style tab links */
@media only screen and (min-width: 601px){
    .tablink {
      background-color: rgb(10, 84, 245);
      color: white;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      font-size: 17px;
      width: 50%;
    }
    ::ng-deep .green-snackbar{
      background:rgb(111, 233, 111);
    }
    
    ::ng-deep .red-snackbar{
      background:rgb(233, 48, 42);
    }
    .productImage{
      margin-left:0px;
      width: 250px; 
      height:200px;
    }
    
    /* #more {display: none;} */
    
    .addandupdate{
      border-radius: .5px;
      border-block-end: 1px;
      width:80%;
      margin-left: 10%;
    }
    
    .update{
      
      margin-right: 0%;
      margin-left:0%;
      margin-top:0%;
      margin-bottom:0%;
    }
    .desc{
      width:50%;
    
    }
    .delete{
      margin-right: 0%;
      margin-left:0%;
      
      margin-top:0%;
      margin-bottom:0%;
    }
    .tablink:hover {
      background-color: rgb(91, 137, 180);
    }
    
    /* Style the tab content (and add height:100% for full page content) */
    .tabcontent {
      color: black;
      display: block;
      padding: 100px 20px;
      height: 100%;
      margin-bottom: 25%;
      
      
    }
    .example-margin{
      margin-left:5px;
    }
    .example-h2 {
      margin: 10px;
    }
    .maincontainer{
      position: fixed;
      width:100%;
      height: 100%;
    }
    .example-section {
      display: flex;
      align-content: center;
      align-items: center;
      height: 60px;
      
    }
    
    .example-margin {
      margin: 0 10px;
    }
    .check{
      margin-left:50%;
    }
    
    .example-card {
      
      margin-top:20px;
      margin-left: 2%;
     width: 258px;
      float: left;
      height: 300px;
      transform-style: preserve-3d;
      transition: all 0.5s ease;
    
    }
    
    
    /* .front{
      position: absolute;
      widht:100%;
      height:100%;
      backface-visibility: hidden;
    }
    .back{
      position: absolute;
      widht:100%;
      height:100%;
      backface-visibility: hidden;
      transform:rotateY(180deg);
    } */
    .content{
      margin-left: 0%;
      width:250px;
    
    }
    .example-full-width{
      
      border-radius: .5px;
      padding: 6px 16px;
      width:20%;
      margin-left:5%;
    }
    .example-full-width-1{
      
      border-radius: .5px;
      
      padding: 6px 16px;
      
      width:20%;
      margin-left:5%;
    }
    
    .example-full-width-2{
      
      border-radius: .5px;
      
      padding: 6px 16px;
      
      width:20%;
      margin-left:5%;
    }
    
    .dropdown{
      width:20%;
      margin-left:5%;
    
    }
    .add{
      margin-left:45%;
      color:green;
        border-color:green;
        columns: green;
    }
    .add-1{
      margin-left:35%;
      color:green;
        border-color:green;
        columns: green;
    }
    .cancel{
      margin-left:10%;
      color:blak;
        border-color:black;
       ;
    }
    .search{
      color:blue;
        border-color:blue;
        columns: blue;
    }
    
    .example-header-image {
      background-image: url('http://freevector.co/wp-content/uploads/2009/01/31783-clock-of-circular-shape-at-two-o-clock.png ');
      background-size: cover;
      
    }
    
    .body{
      margin: 0;
    }
    
    
    
    
    #Discount {background-color: white;}
    #Timeslot {background-color: white;}
    #Product {background-color: white;}
    
    }
    
    @media only screen and (max-width: 600px){
      .tablink {
        background-color: rgb(10, 84, 245);
        color: white;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
        width: 50%;
      }
      .delete{
        margin-left: 15%;  
        margin-top:0%;
        margin-bottom:0%;
      }
      
      .tablink:hover {
        background-color: rgb(91, 137, 180);
      }
      
      /* Style the tab content (and add height:100% for full page content) */
      .tabcontent {
        color: black;
        display: block;
        padding: 100px 20px;
        height: 100%;
        
      }
      ::ng-deep .green-snackbar{
        background:rgb(111, 233, 111);
      }
    
      ::ng-deep .red-snackbar{
        background:rgb(233, 48, 42);
      }
      
      .example-card {
        margin-top:20px;
        margin-left: 2%;
       width: 258px;
        float: left;
      }
      .example-full-width{
        
        border-radius: .5px;
        
        
        
        width:65%;
        margin-left:2%;
      }
      .example-full-width-1{
        
        border-radius: .5px;
        
        
        margin-top:3%;
        margin-left:2%;
        width:95%;
      }
      .add{
        margin-left:2%;
        width:95%;
        color:green;
          border-color:green;
          columns: green;
      }
      .add-1{
        margin-left:2%;
        width:40%;
        color:green;
          border-color:green;
          columns: green;
      }
      .cancel{
        margin-left:10%;
      }
      .search{
        margin-left:5%;
        width:25%;
        color:blue;
          border-color:blue;
          columns: blue;
      }
      
      .example-header-image {
        background-image: url('http://freevector.co/wp-content/uploads/2009/01/31783-clock-of-circular-shape-at-two-o-clock.png');
        background-size: cover;
        
      }
      
      #Discount {background-color: white;}
      #Timeslot {background-color: white;}
      #Product {background-color: white;}
      
      }