<div class = 'container-fluid'>
  <mat-tab-group mat-dynamic-height [(selectedIndex)]="selectedIndex">
    <mat-tab *ngIf="userIdTab" label="To reach you" >
        <form class="form-horizontal" #userForm="ngForm" >
          <content mat-content class="mat-padding">
              
              <div class="form-group">
                  <br/>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Enter Mobile Number:" [(ngModel)]="data.mobileNo" name="mobileNo" required >
                    <mat-error> mobile number is required</mat-error>
                </mat-form-field>
                <br/>
                <br/>
                <br/> 
                 <div>
                    <button mat-stroked-button color="primary" (click)="toOtp()" class="next" [disabled]="!userForm.form.valid">
                        Get OTP <i *ngIf='loading' class="fa fa-circle-o-notch fa-spin"></i>
                    </button>
                </div>
              </div>
          </content>
        </form>
    </mat-tab >
    <mat-tab *ngIf="otpTab" label="Just a verification.." >
        <form class="form-horizontal" #otpForm="ngForm" >
          <content mat-content class="mat-padding">
              <br />
              <div class="form-group">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Enter OTP received:" [(ngModel)]="data.otp" name="otp" required >
                    <mat-error> OTP is required</mat-error>
                </mat-form-field>
                <br />
                <div *ngIf="timeButtonAccess; then thenContent else elseContent">
                </div>
                  <ng-template #thenContent>
                      <div>
                      <!-- <button mat-stroked-button  class="previous" (click)="toUserIdTab()">previous</button> -->
                      <button mat-stroked-button color="primary" (click)="toNewPassTab()" class="next1" [disabled]="!otpForm.form.valid">
                          verify <i *ngIf='loading' class="fa fa-circle-o-notch fa-spin"></i>
                      </button>
                      <p class="previous1" [style.color]= "timeAlertColor"> Time Left: {{ (timeLeft / 60) - ((timeLeft / 60) %1) | number }}:{{timeLeft%60 | number: '2.0-0'}} secs</p>
                      <br />
                    </div>
                  </ng-template>
                  <ng-template #elseContent>
                    <div>
                        <br />
                      <!-- <button mat-stroked-button class="previous"   (click)="toUserIdTab()">previous</button> -->
                      <button  mat-stroked-button class="previous" [disabled]="timeButtonAccess" (click)="resendOtp()" [color]="timeButton">Resend OTP </button>
                      <button mat-stroked-button color="primary" (click)="toNewPassTab()" class="next1" [disabled]="!otpForm.form.valid" >
                          verify <i *ngIf='loading' class="fa fa-circle-o-notch fa-spin"></i>
                      </button>
                    </div>
                  </ng-template>
                <br/>
              </div>
          </content>
        </form>
    </mat-tab>
    <mat-tab *ngIf="newPassTab" label="You're almost there" >
        <form class="form-horizontal"  [formGroup]="myForm">
          <content mat-content class="mat-padding">
              <br />
              <div class="form-group">
                <mat-form-field class="example-full-width">
                  <div>
                    <input  type="password" matInput placeholder="Enter New Password:" [(ngModel)]="data.newPass" formControlName="password" required >
                  </div>
                  <mat-error *ngIf="myForm.hasError('required', 'password')">
                    Please enter your new password
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <div>
                      <input type="password" matInput placeholder="Enter Confirm Password:" [(ngModel)]="data.confirmPass" formControlName="confirmPassword" [errorStateMatcher]="matcher"  >
                    </div>
                    <mat-error *ngIf="myForm.hasError('notSame')">
                      Password do not match
                    </mat-error>  
                  </mat-form-field>
                <br />
                <br />
                <br />
                <div>
                    <button mat-stroked-button (click)='updatePassword()' [(disabled)]="!myForm.valid"  class="next1">submit
                      <i *ngIf='loading' class="fa fa-circle-o-notch fa-spin"></i>
                    </button>
                </div>
              </div>
          </content>
        </form>
    </mat-tab>
  </mat-tab-group>
</div>
          
 

