<div class="splitleft">
    <div class="appheader">
        <div class='centered'>
            <h3> Parampara </h3>
        </div>

    </div>
    <div class="menu">
        <mat-nav-list class="items">
            <a mat-list-item class="items" routerLink="dashboard"><i class="material-icons">
                    home
                </i>&nbsp;Dash Board</a>
            <a mat-list-item class="items" href="#"><i class="material-icons">
                    search
                </i>&nbsp;Search</a>
            <a mat-list-item class="items" routerLink="offers"><i class="material-icons">
                    local_offer
                </i>&nbsp;Offers</a>
            <a mat-list-item class="items"routerLink="products"><i class="material-icons">
                    apps
                </i>&nbsp;Products</a>
            <a mat-list-item class="items" routerLink="timeslots"><i class="material-icons">
                    query_builder
                </i>&nbsp;Timeslots</a>
            <a mat-list-item class="items" href="#"><i class="material-icons">
                    room
                </i>&nbsp;Orders Location</a>
            <a mat-list-item class="items" href="#"><i class="material-icons">
                    account_balance_wallet
                </i>&nbsp;Wallet Details</a>
            <a mat-list-item class="items" href="#"><i class="material-icons">
                    power_settings_new
                </i>&nbsp;Log Out</a>
        </mat-nav-list>
    </div>


</div>
<div class="splitright">
    <router-outlet></router-outlet>
</div>